.close {
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px;
}

.close button {
    background-color: transparent;
    border: transparent;
}

.close button img {
    width: 48px;
}

.full-container {
    display: flex;
}

.five-star {
    background-color: var(--five-star-background);
    box-shadow: 0 0 1px 2px var(--five-star-outline);
}

.four-star {
    background-color: var(--four-star-background);
    box-shadow: 0 0 1px 2px var(--four-star-outline);
}

.splash-art {
    border-radius: 50px;
    margin: 25px;
    position: relative;
    overflow: hidden;
}

.char-avatar {
    width: 300px;
    height: 500px;
    object-fit: none;
    display: block;
}

.char-name {
    text-align: center;
    font-size: 22px;
}

.char-element img,
.char-path img {
    width: 42px;
}

.full-info {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(1.25px);
    padding: 0.35rem;
}

.character-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#update-section {
    background-color: #171219;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0 0 1px 2px #310D20;
}

#update-date {
    font-weight: bold;
    color: #F0803C;
}

#char-buff button {
    background-color: #85CB33;
    border: 1px solid #64F58D;
    padding: 0.35rem;
    border-radius: 25px;
    transition: all ease-in-out 500ms;
    box-shadow: 0 0 1px 1.5px seagreen;
}

#char-buff:not(.enhanced-enabled) button {
    background-color: #AF125A;
    border: 1px solid #70163C;
    box-shadow: 0 0 1px 1.5px #BB4430;
}

#char-buff span {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#char-buff button:hover {
    transform: scale(1.1);
    background-color: #FFF07C;
    border: 1px solid #CFD186;
    box-shadow: 0 0 1px 2px #F6F1D1;
    cursor: pointer;
}

.unactive-buff {
    display: none;
}

.character-build {
    width: 100%;
    height: 800px;
    margin: 0 10px;
}

.build-container {
    display: flex;
    flex-direction: column;
}

.full-build {
    display: flex;
    text-align: center;
}

.build-section {
    overflow-y: auto;
    width: 50%;
    height: 400px;
}

.char-equips {
    display: flex;
    flex-direction: column;
}

.relics-container {
    display: flex;
    justify-content: space-around;
}

.relics-container p {
    font-size: 22px;
    font-weight: bold;
    color: #F0803C;
}

.relics-images {
    width: 98px;
}

table,
tr,
td {
    color: #f29e38;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

td img {
    width: 48px;
}

.status-table {
    display: flex;
    justify-content: center;
}

.lightcones-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lightcones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.lightcones img {
    width: 124px;
}

.lc-impo {
    position: relative;
    font-size: 12px;
    background-color: #363635;
    box-shadow: 0 0 1px 2px #595A4A;
    color: #B0FE76;
    border-radius: 25px;
    top: 30px;
    left: 50px;
    padding: 0 10px;
    transform: rotate(25deg);
}

.lc-name {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    background-color: #363635;
    box-shadow: 0 0 1px 2px #595A4A;
    border-radius: 25px;
    padding: 5px;
    color: #81E979;
}

.set-image {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.set-name {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

#unbuffed:not(.unbuffed-active) {
    display: none;
}

.buffed-inactive {
    display: none;
}

@media (width < 1280px) {
    .full-container {
        flex-direction: column;
    }

    .full-build {
        flex-direction: column;
    }

    .build-section {
        width: auto;
    }
}

@media (width <=600px) {
    main {
        width: 95%;
    }
    .character-build {
        width: 100%;
    }
    .build-section {
        overflow: hidden;
        height: auto;
    }
    td {
        font-size: 14px;
    }

    td img {
        width: 32px;
    }

    .relics-images {
        width: 56px;
    }

}
